name: '0.1.$(rev:r)'

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - Docs/*
    - README.md

jobs:
- job: 'build'
  displayName: 'Build and Test'
  pool:
    vmImage: 'win1803'

  workspace:
    clean: all

  steps:
  - checkout: self
    clean: true

  - task: PowerShell@2
    displayName: 'Build and test the module'
    inputs:
      targetType: 'filePath'
      filePath: './Build/Start-Build.ps1'

  - task: PublishTestResults@2
    displayName: 'Publish test results'
    inputs:
      testResultsFormat: 'NUnit'
      testResultsFiles: '**/TestResults_PS*.xml'

  - task: PublishTestResults@2
    displayName: 'Publish module script analysis results'
    inputs:
      testResultsFormat: 'NUnit'
      testResultsFiles: '**/ModuleScriptAnalyzerResults_PS*.xml'

  - task: PublishTestResults@2
    displayName: 'Publish examples script analysis results'
    inputs:
      testResultsFormat: 'NUnit'
      testResultsFiles: '**/ExamplesScriptAnalyzerResults_PS*.xml'

  - task: PublishCodeCoverageResults@1
    displayName: 'Publish code coverage results'
    inputs:
      codeCoverageTool: 'JaCoCo'
      summaryFileLocation: '**/CodeCoverageReport_PS*.xml'

  - powershell: Copy-Item "AzureDevOps" $(Build.ArtifactStagingDirectory) -Recurse -Force
    displayName: 'Stage module build output'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish build artifacts'
    inputs:
      pathtoPublish: $(Build.ArtifactStagingDirectory)
      artifactName: 'drop'